@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body{
    margin: 0 100px 0 100px;
    background-color: #EEEFF4;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1{
    font-weight: bold;
    font-size: 72px;
}

h2{
    font-weight: bold;
    font-size: 24px;
}

p{
    font-size: 18px;
}

b{
    font-weight: bold;
}

header{
    background: black;
    color: white;

    width: 100vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 6px;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.header{
    gap: 128px;
    width: 100vw;

    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 10;
}

.nav-bar{
    display: inline-flex;
}

.nav-item{
    display: flex;
    margin: 0 15px 0 15px;
}

.nav-item:hover{
    cursor: pointer;
    color: #FF0000;
    transition: 0.2s all;
}

.menu{
    opacity: 0;
    background: none;
    position: absolute;
    top: 0;
    left: 0;

    width: 50%;
    height: 100vh;

    padding-top: 100px;

    transform: translateX(-100%);
    transition: all 0.5s ease;
}

.menu_active{
    display: block;
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    opacity: 1;

    padding-top: 100px;

    width: 50%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    transform: translateX(0%);
    transition: all 0.5s ease;
}

.menu-item{
    margin-bottom: 32px;
    opacity: 0;
    z-index: -1;

    font-size: 18px;
}

.menu_active .menu-item{
    opacity: 1;
}

.bars_menu{
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

.bars_menu span{
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    margin-top: 6px;

    transform-origin: 0px 100%;
    transition: all 500ms;
}

.activeline1_bars-menu{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline3_bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}

.activeline2_bars-menu{
    opacity: 0;
    margin-left: -30px;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;
}

.logo{
    width: 60px;
}

section{
    margin-top: 200px;
    gap: 64px;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#first-section{
    margin-top: 70px;
}

.container{
    width: 80%;
    gap: 32px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    line-height: 1.5;
}

.container img{
    width: 235px;
}

.francisco{
    width: 40%;
    border-radius: 50%;
}

.img-grande{
    width: 25%;
}

.container-vert{
    width: 100%;
    gap: 32px;

    line-height: 1.5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.educacion-items{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.texto-educacion{
    width: 33%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.portafolio-frame{
    width: 100%;
    gap: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.portafolio-item{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.portafolio-img{
    width: 100%;
    border-radius: 10px;
}

.portafolio-img:hover{
    opacity: 0.8;
    transform: scale(1.015);
    transition: 0.2s all;
}

form{
    width: 100%;
}

#form-cont{
    gap: 12px;
}

label{
    margin-top: 32px;
    opacity: 0.5;
    
    width: 100%;

    font-size: 16px;
}

input{
    font-size: 20px;
    text-decoration: none;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-style: none none solid none;

    width: 100%;

    font-family: 'Inter', sans-serif;
}

input:focus, textarea:focus{
    outline: none;
}

::placeholder, h3 { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-style: italic;
    opacity: 0.5; /* Firefox */
}

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    font-style: italic;
    opacity: 0.5;
}

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    font-style: italic;
    opacity: 0.5;
}

.submit{
    background: black;
    color: white;

    width: 200px;
    height: 50px;

    border-radius: 10px;
}

.submit:hover{
    background: white;
    color: black;
    cursor: pointer;
}

footer{
    margin-top: 200px;
    gap: 32px;
    background: black;
    color: white;

    height: 72px;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

footer p{
    padding: 16px;
    font-size: 14px;
    opacity: 0.5;
}

@media screen and (max-width:970px){
    section, .educacion-items, .container, .portafolio-frame{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img-grande{
        width: 40%;
    }

    .educacion-items{
        gap: 64px;
    }

    .portafolio-item{
        width: 100%;
    }
}

@media screen and (max-width:740px){
    body{
        margin: 0 50px 0 50px;
    }

    .nav-bar, #redes-nav{
        display: none;
    }

    .bars_menu{
        display: block;
    }

    h1{
        font-weight: bold;
        font-size: 64px;
    }
    
    h2{
        font-weight: bold;
        font-size: 24px;
    }
    
    p{
        font-size: 18px;
    }

    .texto-educacion{
        width: 100%;
    }


    .img-grande,  .francisco{
        width: 80%;
    }

}